*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color:  hsl(216, 12%, 8%);
}
.feedback-form{
    width: 360px;
    height: 340px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 8%;
}
.star{
    background-color: rgba(149, 158, 172, 10%);
    border: none;
    padding: 12px;
    margin: 30px 0 0 24px;
    border-radius: 50%;
}
.heading{
    padding: 20px 0 12px 24px;
    color: white;
    font-size: 23px;
    font-weight: 700;
    font-family: 'overpass',sans-serif;
}
.request{
    color: white;
    padding: 0 22px 20px 24px ;
    line-height: 1.4;
    font-family: 'overpass',sans-serif;
    font-size: 13px;
    font-weight: 400;
}
.btn{
    list-style: none;
    color: white;
    display: flex;
    margin-bottom: 22px;
}
.rating-btn{
    border-radius: 50%;
    background-color: rgba(149, 158, 172, 10%);
    border: none;
    padding: 12px;
    padding: 12px 17px 12px 17px;
    margin-left: 24px; 
    cursor: pointer; 
}
.star-rating-5:hover{
     background-color: hsl(25, 97%, 53%);
     
}
.star-rating-4:hover{
     background-color: hsl(217, 12%, 63%);
}
.submit{
    border-radius: 20px;
    padding: 10px 130px 10px 130px ;
    margin-left: 24px;
    background-color: hsl(25, 97%, 53%);
    color: white;
    font-family: 'overpass',sans-serif;
    font-size: 13px;
    font-weight: 400;
    border: none;
    cursor: pointer;
}
.submit:hover{
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}


/* Thank you section */

.thank-you-form{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 355px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 8%;
}
.feedback{
    text-align: center;
  width: 42%;
  background-color: rgba(149, 158, 172, 10%);
  color: hsl(25, 97%, 53%); 
  border-radius: 20px;
  padding: 7px 15px 7px 14px;
  margin: 0 auto;
  margin-bottom: 1.8em;
  font-family: 'overpass',sans-serif;
  font-size: 13px;
  font-weight: 400;
  border: none;
}
.img{
    margin-bottom: 30px;
}
.thank-you-req{
    color: white;
    font-size: 26px;
    font-weight: 700;
    font-family: 'overpass',sans-serif;
    padding-bottom: 10px;
}
.thank-you-para{
    color: white;
    font-size: 13px;
    font-weight: 400;
    font-family: 'overpass',sans-serif;
    padding: 0 30px 0 30px;
    text-align: center;
    line-height: 1.4;
}